.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box1 h2,
#box1 h3 {
    display: inline-block;
    margin-right: 20px;
}

.box1 h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: normal;
    color: rgb(105, 192, 233);
    margin: 0; 
}

.box1 h3{
    margin-left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: lighter;
}

h3{
    margin-left: 500px; 
}

a{
    margin-left: 100px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}
















#box2 {
    background-color: #66b7f8;
    height: 400px;
    width: 100%;
  }

  #box3 {
    background-color: #ffffff;
    height: 1000px;
    width: 100%;
  }

  #box4 {
    background-color: #52a9cc;
    height: 50px;
    width: 100%;
  }

  #box5 {
    background-color: #ffffff;
    height: 50px;
    width: 100%;
  }

 