.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box1 h2,
#box1 h3 {
    display: inline-block;
    margin-right: 20px;
}

.box1 h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: normal;
    color: rgb(105, 192, 233);
    margin: 0; 
}

.box1 h3{
    margin-left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: lighter;
}

h3{
    margin-left: 500px; 
}

a{
    margin-left: 100px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}


#box2 {
    background: 
        linear-gradient(rgba(20, 178, 240, 0.45),
        rgba(20, 178, 240, 0.45)),
        url(../Assets/Images/Main.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    overflow: hidden;    
    text-align: center;
  }


  .box2 h1 {
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.box2 form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.box2 input[type="text"] {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px ;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
}

.submit{
    padding: 10px 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}


p{
    padding: 20px;
    color: #ffffff;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.submit2 {
    align-items: center;
    padding: 10px 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}












  #box3 {
    background-color: #ffffff;
    height: 1000px;
    width: 100%;
  }

  #box4 {
    background-color: #52a9cc;
    height: 50px;
    width: 100%;
  }

  #box5 {
    background-color: #ffffff;
    height: 50px;
    width: 100%;
  }

 